:root {
    --icon-size: 30px;
    --icon-padding: 0.4em 0 0.5em 1.65em;
}



* {
    margin: 0;
    padding: 0;
}

body {

}


.container {
    display: grid;
    grid-template:  1fr 5fr / 1fr 5fr;
}
/* NAVBAR STYLING */

.nav {
    background-color: white;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
}

.nav .bottomnav, .topnav {
    display: grid;
    grid-auto-flow: column;
}

.topnav .searchbar {
    display: inline-block;
    background-color: rgb(235, 232, 232);
    border: 0;
    border-radius: 99em;
    outline-color: rgb(26, 48, 90);
    height: 1.5rem;
    padding: 0.75em 2em;
    width: min(80%, 700px);
}

.topnav .nav-right-icons{
    display: grid;
    grid-auto-flow: column;
}

.bottomnav .welcome {
    background-image: url();
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
}
.bottomnav button {
    cursor: pointer;
    background-color: #164e63;
    border: none;
    border-radius: 25px;
    color: rgb(243, 242, 242);
    font-weight: bold;
    margin: 0px 5px;
    height: 3em;
    width: 7em;
}

/* SIDEBAR STYLING */

.sidebar {
    background-color: #164e63;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.dashboard-logo {
    color: rgb(243, 242, 242);
    font-size: 1.6em;
    font-weight: bold;
    padding: 15px 15px 75px 15px;
}

.tabs {
    padding: 15px 15px 75px 15px;
    list-style-type: none;
}

.additional-tabs {
    padding: 0 15px 15px 13px;
    list-style-type: none;
}

/* CARDS STYLING */

.content {
    background-color: #e0f2fe;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 2.8fr 1fr;
    padding: 16px;
    gap: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 15px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, pink 0%, pink 2%, white 2%, white 100%);
    height: 225px;
    gap: 15px;
}

.card .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 12px;
    padding-bottom: 5px;
}

.icons > div {
    cursor: pointer;
    align-self: stretch;
    padding: 20px;
}






.side-content .announcement-list, .trends {
    background: white;
    display: grid;
    grid-auto-flow: row;
}

.announcement-list, .trends {
    margin-top: 15px;
    margin-bottom: 20px;

}

.card, .announcement-list, .trends {
    border-radius: 10px;
    box-shadow: 2px 6px 10px rgb(0, 0, 0, 0.3);
    padding: 30px;
}



/* ICON STYLING */

li {
    color: rgb(243, 242, 242);
    font-size: 1.15em;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 15px;
}

li, ul {
    padding: 0.2em 0 0.5em 1.5em;
    margin: 0em 0.5em 0.5em 0.4em;
    text-indent:0.4em;
    list-style:none;
    background-repeat: no-repeat;
}

li:hover {
    font-size: 1.1em;
    cursor: pointer;
}

/* SIDEBAR */

.dashboard-logo {
    cursor: pointer;
    font-size: 22px;
    padding: 10px 20px 0px 42px;
    margin: 15px 0px 60px 21px;
    background-repeat: no-repeat;
    background-image: url(icons/view-dashboard.png);
    background-size: 40px;
}
.home {
    background-image: url(icons/home.png);
}

.profile {
    background-image: url(icons/card-account-details.png);
}

.messages {
    background-image: url(icons/message-reply.png);
}

.history {
    background-image: url(icons/clock-time-three.png);
}

.tasks {
    background-image: url(icons/note-multiple.png);
}

.communities {
    background-image: url(icons/account-group.png);
}

.settings {
    background-size: var(--icon-size);
    padding: var(--icon-padding);
    background-image: url(icons/cog.png);
}

.support {
    background-size: var(--icon-size);
    padding: var(--icon-padding);
    background-image: url(icons/help-box.png);
}

.privacy {
    background-size: var(--icon-size);
    padding: var(--icon-padding);
    background-image: url(icons/shield-check.png);
}

/* NAVBAR AND CARD ICONS */

.notifications {
    background-repeat: no-repeat;
    background-image: url(icons/bell-outline.png);
}
 .add-favorite {
    background-repeat: no-repeat;
    background-image: url(icons/star-outline.png);
 }

 .project-preview {
    background-repeat: no-repeat;
    background-image: url(icons/eye-plus-outline.png);
 }

 .share {
    background-repeat: no-repeat;
    background-image: url(icons/share-variant-outline.png);
 }

 .add-favorite:hover {
     background-image: url(icons/star.png);
 }
 

